name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always
  RUSTFLAGS: -D warnings

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - name: Build
        run: cargo build --verbose
      - name: Clippy
        run: cargo clippy --verbose --all-targets --all-features
      - name: Run tests
        run: cargo test --verbose
      - name: Run main
        run: cargo run --release
