name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always
  RUSTFLAGS: -D warnings

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - run: rustup toolchain install stable --profile minimal
      - name: Build
        run: cargo build
      - name: Clippy
        run: cargo clippy --all-targets --all-features
      - name: Run tests
        run: cargo test
      - name: Run main
        run: cargo run --release
